# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
airflow_venv/

# Generated data
data/raw/
data/clean/

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Jupyter checkpoints
.ipynb_checkpoints/

# Airflow local files
airflow.db
simple_auth_manager_passwords.json.generated
standalone_admin_password.txt